<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsAnimalesSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2068/wsAnimales.asmx" binding="basicHttpBinding" bindingConfiguration="wsAnimalesSoap" contract="wsNSAnimales.wsAnimalesSoap" name="wsAnimalesSoap"/>
    </client>
  </system.serviceModel>
  <appSettings>
  <add key="wsNSEXTAnimales.wsAnimales" value="http://192.168.1.77/Animales/wsAnimales.asmx"/>
  </appSettings>
</configuration>